@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #000000;
	--primary-bg: #f9fafb;
	--primary-bg-foreground: #000000;
	--secondary-bg: #f3f4f6;
	--secondary-bg-foreground: #000000;
	--primary: #3b82f6;
	--primary-foreground: #ffffff;
	--secondary: #9ca3af;
	--secondary-foreground: #000000;
	--muted: #e5e7eb;
	--muted-foreground: #6b7280;
	--border: #d1d5db;
	--input: #d1d5db;
	--ring: #3b82f6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #111827;
		--foreground: #ffffff;
		--primary-bg: #1f2937;
		--primary-bg-foreground: #ffffff;
		--secondary-bg: #1f2937;
		--secondary-bg-foreground: #ffffff;
		--primary: #60a5fa;
		--primary-foreground: #ffffff;
		--secondary: #4b5563;
		--secondary-foreground: #ffffff;
		--muted: #374151;
		--muted-foreground: #e5e7eb;
		--border: #374151;
		--input: #4b5563;
		--ring: #60a5fa;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
